{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <div class="container">
        {{ include('recette/layout/stepper.html.twig') }}
        <div class="row">
            <div class="col-2">
                <a class="btn float-left" href="{{ url('recette_edit', {id:recette.id}) }}">
                    <i class="fa fa-2x fa-arrow-left" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-8">
                <h1 class="text-center">Ingrédients</h1>
            </div>
            <div class="col-2">
                    <a class="btn float-right" href="{{ path('recette_new_etapes', {id:recette.id}) }}"><i class="fa fa-2x fa-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                {{ include('recette/layout/card_show.html.twig') }}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                {{ form_start(formIngredient, { 'attr': {'class': 'form-inline mb-5'} }) }}
                    {{ form_widget(formIngredient.quantity,  { 'attr': {'class': 'form-control mr-2 col-lg-1 col-2', 'autofocus': 'true'} }) }}
                    {{ form_widget(formIngredient.content,  { 'attr': {'class': 'form-control col-lg-3 col-7'} }) }}
                    <div class=" col-lg-1 col-2">
                        {{ form_widget(formIngredient.Ajouter, { 'attr': {'class': 'btn btn-info'} }) }}
                    </div>
                {{ form_end(formIngredient) }}
            </div>
        </div>
    </div>
{% endblock %}
